@mixin animationIcon {
  -webkit-box-reflect: below -30px -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      color-stop(0.6, transparent),
      to(rgba(255, 255, 255, 0.5))
    );
  -webkit-transform-origin: 50% 100%;
  transition: transform 0.15s ease-in-out;
}

@mixin Modal {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}

@mixin ModalHeader {
  border: none;
  display: flex;
  justify-content: center;
  position: relative;
}

@mixin ModalTitle {
  font-size: 27px;
  color: $background-color;
  font-weight: 900;
  letter-spacing: 1px;
  background: linear-gradient(45deg, $viola, $rosso);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, opacity 0.3s ease;
  animation: fadeIn 1s ease-in-out;
}

@mixin ModalButton {
  font-size: 20px;
  background-color: $background-color;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 30px;
}

@mixin ModalBody {
  background-color: $azzurro;
  display: flex;
  justify-content: center;
}

@mixin media-1425 {
  @media (max-width: 1425px) {
    @content;
  }
}

@mixin media-1300 {
  @media (max-width: 1300px) {
    @content;
  }
}

@mixin media-1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin media-765 {
  @media (max-width: 765px) {
    @content;
  }
}
