$secondary-color: #e7ba34;
$background-color: #ffffff;
$text-color: #3b3a41;
$secondtext-color: #4e31aa;

$bg-color: #3b3a41;
$bg-color2: #ffffff;
$bg-color3: #ded9ef;

$azzurro: #3fc1c9;
$viola: #7c00fe;
$rosso: #f6416c;
