@import "./variables";
@import "./mixin";
@import "./components/savedphotomodal";
@import "./components/photocamera";
@import "./components/givename";
@import "./components/stickers";
@import "./components/gallery";
@import "./components/lastphotomodal";

body {
  background: $background-color;
  color: $text-color;
  font-family: "Montserrat", sans-serif;
  & .App {
    padding: 10px;
    background: $primary-color;
    height: 100%;
    overflow: hidden;
    position: relative;
    & nav {
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      margin: 10px 0px;
      & ul {
        display: flex;
        justify-content: end;
        margin: 0px 40px;
        & li {
          list-style-type: none;
          & a {
            color: $secondtext-color;
            margin-left: 50px;
            font-size: 20px;
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
          }
        }
      }
    }
    & .Header {
      & h1 {
        color: $secondtext-color;
        font-size: 25px;
        font-family: "Rampart One", sans-serif;
        text-align: center;
      }
      & p {
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        margin: 20px 10px;
      }
    }
    & main {
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;
      height: 100vh;
      & h1 {
        font-size: 20px;
        position: absolute;
        top: 100px;
        left: 80px;
      }
    }
  }
}

@keyframes vibration {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, -3px);
  }
  50% {
    transform: translate(5px, 3px);
  }
  75% {
    transform: translate(-5px, -3px);
  }
}

.vibrate {
  animation: vibration 0.5s ease-in-out;
}

@include media-1024 {
  body {
    & .App {
      & nav {
        & ul {
          & li {
            & a {
              font-size: 17px;
            }
          }
        }
      }
      & .Header {
        & h1 {
          font-size: 20px;
        }
        & p {
          font-size: 17px;
        }
      }
      & main {
        align-items: start;
        & h1 {
          font-size: 17px;
          top: 40px;
          left: 0px;
        }
      }
    }
  }
}

@include media-878 {
  body {
    & .App {
      & nav {
        & ul {
          margin: 0px 10px;
          & li {
            & a {
              font-size: 14px;
              margin-left: 30px;
            }
          }
        }
      }
      & .Header {
        & h1 {
          font-size: 18px;
        }
        & p {
          font-size: 15px;
        }
      }
      & main {
        & h1 {
          font-size: 15px;
        }
      }
    }
  }
}
