.Gallery {
  position: absolute;
  right: 30px;
  top: -60px;
  font-size: 22px;
  max-width: 100%;
  padding: 20px;
  & .photo-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    & .folder-icon {
      font-size: 100px;
    }
    & .numberOfPhoto {
      background-color: $secondtext-color;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      text-align: center;
      position: absolute;
      top: 0;
      left: 80px;
    }
    & .Picture {
      display: none;
    }
  }
  & .photo-container.show-photos {
    height: fit-content;
    width: fit-content;
    & .Picture {
      display: block;
    }
  }
}
