.Gallery {
  font-size: 22px;
  padding: 20px;
  & .photo-container {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
    & .folder-icon {
      font-size: 70px;
      color: $secondary-color;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      transition: transform 0.3s ease, color 0.3s ease;
      &:hover {
        color: $rosso;
      }
    }
    & .numberOfPhoto {
      background-color: $text-color;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      position: absolute;
      top: -10px;
      left: 70px;
      color: $secondary-color;
      line-height: 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease, background-color 0.3s ease;
      &:hover {
        transform: scale(1.2);
        background-color: $rosso;
      }
    }
    & .Picture {
      display: none;
    }
  }
  & .photo-container.show-photos {
    height: fit-content;
    width: fit-content;
    & .Picture {
      display: block;
    }
  }
}

@include media-1024 {
  .Gallery {
    font-size: 20px;
    & .photo-container {
      & .folder-icon {
        font-size: 70px;
      }
      & .numberOfPhoto {
        left: 50px;
      }
    }
  }
}
