.GiveAName {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  & p {
    color: $secondtext-color;
    font-size: 18px;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 1s ease-in-out forwards;
  }
  & input {
    display: block;
    cursor: pointer;
    width: 80%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: $background-color;
    border: 0.2px solid $background-color;
    color: $secondtext-color;
    text-align: center;
    transition: all 0.3s ease;
    &:focus {
      outline: none;
      background-color: darken($secondary-color, 10%);
      border-color: lighten($background-color, 20%);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
    }
    &:hover {
      border-color: lighten($background-color, 15%);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include media-1024 {
  .GiveAName {
    font-size: 15px;
    & p {
      font-size: 15px;
    }
  }
}

@include media-765 {
  .GiveAName {
    font-size: 12px;
    & p {
      font-size: 12px;
    }
  }
}
