.last-photo-modal {
  @include Modal;
  & .modal-dialog {
    display: flex;
    justify-content: center;
    max-width: 50%;
    height: 80vh;
    & .modal-content {
      background-color: $azzurro;
      border: none;
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    }
    & .modal-header {
      @include ModalHeader;
      & .modal-title {
        & span {
          @include ModalTitle;
        }
      }
      & button {
        @include ModalButton;
        &:hover {
          background-color: $secondary-color;
        }
      }
    }
    & .modal-body {
      @include ModalBody;
      flex-direction: column;
      align-items: center;
      padding-top: 0;
      & .modal-img {
        height: 300px;
        margin-bottom: 35px;
        .photo-captured {
          height: 100%;
          width: auto;
        }
      }
      & .modal-buttons {
        button {
          margin: 0 20px 20px;
          font-size: 18px;
          padding: 10px 20px;
          border-radius: 10px;
          background-color: $viola;
          border: 0.2px solid $secondtext-color;
          color: $background-color;
          text-align: center;
          font-weight: 700;
          transition: all 0.3s ease;
          box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1),
            0 2px 4px rgba(0, 0, 0, 0.2);
          &:hover {
            background-color: $rosso;
            color: $background-color;
            transform: translateY(-2px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
          }
          &:active {
            transform: translateY(2px);
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}

@include media-1024 {
  .last-photo-modal {
    & .modal-dialog {
      max-width: 50%;
      & .modal-header {
        & .modal-title {
          font-size: 22px;
        }
        & button {
          font-size: 15px;
        }
      }
      & .modal-body {
        & .modal-img {
          height: 200px;
        }
        & .modal-buttons {
          button {
            font-size: 15px;
            padding: 8px 15px;
          }
        }
      }
    }
  }
}

@include media-765 {
  .last-photo-modal {
    & .modal-dialog {
      max-width: 70%;
      & .modal-header {
        & .modal-title {
          font-size: 18px;
        }
        & button {
          font-size: 12px;
          padding: 7px 10px;
        }
      }
      & .modal-body {
        & .modal-img {
          height: 150px;
        }
        & .modal-buttons {
          button {
            font-size: 12px;
            padding: 5px 10px;
          }
        }
      }
    }
  }
}
