.modal-share {
  @include Modal;
  & .modal-dialog {
    display: flex;
    justify-content: center;
    & .modal-content {
      background-color: $bg-color3;
      border-radius: 20px;
      width: fit-content;
      overflow: hidden;
    }
    & .modal-header {
      @include ModalHeader;
      margin: 5px 0;
      & button {
        @include ModalButton;
        font-size: 10px;
        &:hover {
          transform: scale(1.1);
          transition: transform 0.3s ease;
        }
      }
    }
    & .modal-body {
      @include ModalBody;
      background-color: $bg-color3;
      flex-direction: column;
      padding: 20px;
    }
  }
}
