.Stickers {
  & .availableStickers-container {
    & .availableStickers {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      width: 100%;
      background-color: $secondary-color;
      padding: 10px;
      border-radius: 20px;
      margin-top: 10px;
      & button {
        display: block;
        background: none;
        cursor: pointer;
        border-radius: 20px;
        margin: 10px 10px;
        padding: 5px;
        border: none;
        @include animationIcon;
        & img {
          height: 50px;
        }
      }
      & button:hover {
        transform: scale(1.3);
        margin: 20 0px;
      }
      & .btn-remove {
        background-color: $secondary-color;
        padding: 5px;
        border-radius: 20px;
        border: none;
        font-size: 30px;
      }
    }
  }
}

@include media-1300 {
  .Stickers {
    & .availableStickers-container {
      margin-bottom: 40px;
      & .availableStickers {
        & button {
          & img {
            height: 40px;
          }
        }
      }
    }
  }
}

@include media-1024 {
  .Stickers {
    & .availableStickers-container {
      & .availableStickers {
        & button {
          & img {
            height: 40px;
          }
        }
      }
    }
  }
}
