// $primary-color: #003585;
// $secondary-color: #149de1;
// $background-color: #ffffff;
// $text-color: #ffffff;
// $secondtext-color: #feba02;

$primary-color: #eff4ed;
$secondary-color: #cad1c9;
$background-color: #ffffff;
$text-color: #184c34;
$secondtext-color: #0ebd60;

//I really liked both the palette
