@import "./variables";
@import "./mixin";
@import "./modal";

body {
  background: $background-color;
  color: $text-color;
  font-family: "sans-serif";
  & .App {
    padding: 10px;
    background: $primary-color;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
    position: relative;
    & nav {
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      margin: 10px 10px;
      & ul {
        display: flex;
        justify-content: end;
        margin: 0px 40px;
        & li {
          list-style-type: none;
          & a {
            color: $secondtext-color;
            margin-left: 50px;
            font-size: 20px;
            text-decoration: none;
            font-family: "Rampart One", sans-serif;
          }
        }
      }
    }
    & .Header {
      margin: 10px 10px 30px 10px;
      & h1 {
        color: $secondtext-color;
        cursor: pointer;
        font-size: 2rem;
        margin-bottom: 20px;
        font-family: "Rampart One", sans-serif;
      }
      & p {
        font-size: 20px;
        font-family: "Potta One", system-ui;
      }
    }
    & main {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      & section {
        margin-right: 30px;
        & span {
          color: $secondtext-color;
          font-weight: bold;
          margin-bottom: 10px;
          font-family: "Potta One", system-ui;
        }
      }
      & .colOne {
        width: 100%;
        display: flex;
        justify-content: center;
        & .GalleryName {
          font-size: 22px;
          & input {
            display: block;
            width: 80%;
            padding: 10px 20px;
            border-radius: 20px;
            background-color: $secondary-color;
            border: 0.2px solid $background-color;
            color: $text-color;
            font-family: "Rampart One", sans-serif;
            text-align: center;
          }
        }
        & .Stickers {
          font-size: 22px;
          & .availableStickers-container {
            & .availableStickers {
              display: flex;
              flex-wrap: wrap;
              width: 100%;
              background-color: $secondary-color;
              padding: 10px;
              border-radius: 20px;
              margin-top: 10px;
              & button {
                display: block;
                background: none;
                cursor: pointer;
                border-radius: 20px;
                margin: 12px 12px;
                padding: 10px;
                border: none;
                @include animationIcon;
                & img {
                  height: 35px;
                  height: 35px;
                }
              }
              & button:hover {
                transform: scale(1.5);
                margin: 20 0px;
              }
              & .btn-remove {
                background-color: $secondary-color;
                padding: 5px;
                border-radius: 20px;
                border: none;
                font-size: 30px;
              }
            }
          }
        }
        & .Gallery {
          font-size: 22px;
          max-width: 100%;
          padding: 20px;
          & .photo-container {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            & .folder-icon {
              font-size: 100px;
            }
            & .numberOfPhoto {
              background-color: $secondtext-color;
              width: 30px;
              height: 30px;
              border-radius: 100%;
              text-align: center;
              position: absolute;
              top: 0;
              left: 105px;
            }
            & .Picture {
              display: none;
            }
          }
          & .photo-container.show-photos {
            height: fit-content;
            width: fit-content;
            & .Picture {
              display: block;
            }
          }
        }
      }
      & .colTwo {
        margin-top: 50px;
        padding: 0px 50px;
        width: 80%;
        display: flex;
        align-items: center;
        & .Main {
          background: $secondary-color;
          font-size: 22px;
          width: 90%;
          border-radius: 20px;
          padding: 30px 20px;
          margin-bottom: 0px;
          & p {
            margin-bottom: 40px;
            text-align: center;
          }
          & video {
            display: none;
            width: 100%;
            height: auto;
          }
          & canvas {
            width: 100%;
            height: auto;
          }
          & .btn-filters-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px auto;
            & .btn-filters {
              border-radius: 100%;
              height: 40px;
              width: 40px;
              margin: 0px 20px;
              @include animationIcon;
            }
            & .btn-filters:hover {
              transform: scale(1.3);
              margin: 20 0px;
            }
          }
        }
      }
    }
  }
}

@keyframes vibration {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, -3px);
  }
  50% {
    transform: translate(5px, 3px);
  }
  75% {
    transform: translate(-5px, -3px);
  }
}

.vibrate {
  animation: vibration 0.5s ease-in-out;
}
